div.ligne1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

div.ligne2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}
    
div.ligne3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}
    


div.boitePays{
    flex-wrap: nowrap;
    width: 150px;
    height: 150px;
    background: rgb(164, 66, 66);
    border-radius: 5px;
    color: white;
}

div.boiteEquipe{
    flex-wrap: nowrap;
    width: 150px;
    height: 150px;
    background: darkblue;
    border-radius: 5px;
    color: white;
}

div.boiteJoueur{
    flex-wrap: nowrap;
    width: 150px;
    height: 150px;
    background: darkgreen;
    border-radius: 5px;
    color: white;
}



div.titre{
    
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
}


div.bas{
    
    border-radius: 5px;
    font-size: 12px;
    padding: 30px 0px 10px 20px;
    

}